<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Flask app</title>
    <style>
      .directory {
        font-family: monospace;
        color: white;
        font-size: 1rem;
      }

      .directory pre {
        white-space: pre-wrap;
        margin: 0;
      }
    </style>
  </head>

  <body
    class="bg-gradient-to-r from-blue-400 to-green-600 flex flex-col min-h-screen"
  >
    <header class="text-center text-gray-300 mt-20">
      <h1 class="text-4xl font-bold">Flask app template</h1>
      <p class="text-lg">A Flask app template with TailwindCSS</p>
    </header>

    <div class="text-center mt-8">
      <a
        href="https://github.com/yassine20011/flaskTemplate?tab=readme-ov-file#flask-template"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
        >Get started</a>
    </div>

    <main class="flex-grow">
      <section class="flex justify-center mt-8 space-x-4">
        
        <div class="p-8 w-96 bg-gray-800 rounded-lg shadow-lg text-center">
          <div class="flex flex-row items-center">
            <img
              src="{{ url_for('static', filename='./images/flask.svg') }}"
              alt="Flask"
              class="w-24 h-24 mt-4 mb-4 mx-auto"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 448 512"
              class="w-8 h-8 mx-auto"
              fill="#fff"
            >
              <path
                d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"
              />
            </svg>
            <img
              src="{{ url_for('static', filename='./images/tailwindcss.svg') }}"
              alt="TailwindCSS"
              class="w-24 h-24 mt-4 mb-4 mx-auto"
            />
          </div>

          <p class="text-lg text-gray-300 text-left">
            This Flask app template offers a robust foundation for your project.
            With TailwindCSS, you get flexible styling, and the project's tree
            structure is adaptable to any Flask project. Whether you're a
            beginner or a seasoned developer, this template simplifies your
            workflow, making it an ideal choice for any project.
          </p>
        </div>

        <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
          
          <div class="bg-red-400 inline-block rounded-full h-3 w-3 mr-2"></div>
          <div class="bg-yellow-400 inline-block rounded-full h-3 w-3 mr-2"></div>
          <div class="bg-green-400 inline-block rounded-full h-3 w-3 mr-2"></div>

          <div class="directory">
            <pre><span class="text-green-500">➜ </span><span class="text-blue-400">flaskTemplate </span>tree</pre>

            <div class="directory">
              <span class="text-green-500">.</span> <br />
              ├── <span>app.py</span> <br />
              ├── <span>config.py</span> <br />
              ├── <span>static</span> <br />
              │ ├── <span class="text-blue-500">css</span> <br />
              │ │ └── <span>input.css</span> <br />
              | | └── <span>output.css</span> <br />
              │ ├── <span class="text-blue-500">images</span> <br />
              │ ├── <span class="text-blue-500">js</span> <br />
              ├── <span class="text-blue-500">templates</span> <br />
              │ └── <span>index.html</span> <br />
              └── <span class="text-blue-500">views</span> <br />
              └── <span>root.py</span> <br />
            </div>

          </div>

        </div>

        <div class="bg-gray-800 p-8 rounded-lg shadow-lg w-96">
            <p class="text-lg text-gray-300">
            <span class="text-red-500">
                <svg
                xmlns="http://www.w3.org/2000/svg"
                viewBox="0 0 24 24"
                class="w-6 h-6 inline"
                fill="#fff"
                >
                <path
                    d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm-1-13h2v6h-2zm0 8h2v2h-2z"
                />
                </svg>
            </span>
            <p class="text-lg text-gray-300 mt-4">
                Follow the steps on the README file to get started.
                once you're done, and run the app, you should see this page. 
                feel free to contribute to the project on GitHub.
            </p>
        </div>
      </section>

    </main>

    <footer
      class="position-absolute bottom-0 w-full text-center text-gray-300 p-4"
    >
      <p>
        Made with ❤️ by
        <a href="https://yassine.is-a.dev" class="text-gray-800">Yassine</a>
      </p>
    </footer>
  </body>
</html>
